.sandboxItem {
    background: white;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
    padding-top: 15px;
    cursor: default;

    .sandboxItemTitleContainer {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;

        .sandboxItemIcon {
            width: 36px;
            height: 36px;
            border-radius: 10px;
            background: linear-gradient(135deg, rgba(19,8,205,1) 0%, rgba(255,0,254,1) 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

        .sandboxItemTitle {
            font-size: 17px;
            margin: 0px;
            padding: 0px;
            font-weight: 600;
            user-select: none;
        }
    }

    .sandboxItemDragger {
        width: 100%;
        height: 20px;
        background: gray;
        border-radius: 0px 0px 10px 10px;
        margin-top: 10px;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}

